* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*max-height: 100vh;
    max-width: 100vw;*/
  padding: 0;
}

body {
  overflow: hidden;
}

.nome {
  /*font-family: Roboto;
    font-style: normal;
    width: 1061.43px;
    height: 488.15px;
    font-weight: bold;*/
  letter-spacing: -0.13em;
}

.conrado {
  letter-spacing: -0.18em;
}

.title {
  margin-top: 200px;
  margin-left: 9.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 110px;
  line-height: 70px;
}

.sub {
  margin-left: 9.55rem;
  margin-top: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.sub h3 {
  margin-bottom: 1rem;
  font-weight: 300;
  font-style: italic;
  font-size: 1.25em;
}

.sub h4 {
  font-weight: 100;
  font-size: 1rem;
}

.second {
  background-color: #8ce9f0;
  width: calc(100% - 9.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-left: 9.5rem;
  top: 0;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 9.33rem;
  height: 100vh;
}

.second h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 131px;
  letter-spacing: initial;
  margin-top: 0;
}

.conqs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2em;
}

.third {
  height: 100vh;
  background-color: #eef08c;
  position: absolute;
  margin-left: 19rem;
  padding: 4rem 9.7rem;
  top: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.5em;
  font-weight: lighter;
  overflow: hidden;
  color: #f08ce8;
}

.third h1 {
  font-size: 58px;
  font-weight: 600;
  letter-spacing: 0.35em;
  font-family: 'Playfair Display';
}

.third h2 {
  font-size: 48px;
  font-family: "Dancing Script";
  font-weight: 400;
  letter-spacing: 0;
}

.third ul {
  margin: 0.5em 1em;
  font-weight: 300;
  list-style: none;
  line-height: 2em;
  font-size: 1.25em;
}

.third .habs {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third .costas {
  text-align: right;
}

.third .tudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third .caixa {
  margin: 0.5em 0.75em;
}

.third .back {
  margin-left: 2em;
}

.item {
  background-color: #eef08c;
  width: 13.5em;
  margin-bottom: 1em;
  padding: 7em 1.9em 1.9em 1.9em;
  height: 18em;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "Roboto";
  font-weight: lighter;
  list-style-position: inside;
}

.item h2 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.5em;
  font-family: "Dancing Script";
}

.fourth {
  width: 37.85rem;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #f08ce8;
  margin-left: 28.5rem;
  visibility: hidden;
  letter-spacing: 0.2em;
  padding: 4.5em 4.5em 4.5em 9.55em;
  text-align: justify;
  height: 100vh;
  font-family: 'Playfair Display';
  color: #eef08c;
}

.fourth h1 {
  font-size: 61px;
  text-align: right;
}

.fourth h3 {
  font-size: 15px;
  font-weight: lighter;
  padding-left: 5em;
}

.fifth {
  width: 28.4rem;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #8cf0be;
  margin-left: 37.95rem;
  visibility: hidden;
  height: 100vh;
  font-family: 'Playfair Display';
}

.fifth h1, .fifth h3 {
  font-weight: lighter;
  font-size: 0.75em;
}

.m {
  margin-left: 9.5rem;
  position: absolute;
  z-index: 2;
  color: #8ce9f0;
  visibility: hidden;
}

.m:hover {
  font-size: 1.75em;
  cursor: pointer;
}

.mm {
  position: absolute;
  z-index: 2;
  color: #eef08c;
  visibility: hidden;
  margin-left: 19rem;
}

.mm:hover {
  font-size: 1.75em;
  cursor: pointer;
}

.mmm {
  position: absolute;
  z-index: 2;
  color: #f08ce8;
  visibility: hidden;
  margin-left: 28.5rem;
}

.mmm:hover {
  font-size: 1.75em;
  cursor: pointer;
}

.mmmm {
  position: absolute;
  /*margin-left: 4.7em;*/
  margin-left: 40rem;
  z-index: 2;
  color: #8cf0be;
  visibility: hidden;
}

.mmmm:hover {
  font-size: 1.75em;
  cursor: pointer;
}

.v {
  margin-left: 49rem;
  color: black;
}

.show {
  visibility: visible;
  -webkit-animation: sobe 1.5s;
          animation: sobe 1.5s;
}

.navCor {
  background-color: white;
}

nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  width: 100%;
  height: 3em;
}

nav h2 {
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  top: 0.355em;
}

.burguerDesk {
  margin-left: 1rem;
}

@-webkit-keyframes sobe {
  from {
    margin-left: 200%;
  }
  to {
    margin-left: 100;
  }
}

@keyframes sobe {
  from {
    margin-left: 200%;
  }
  to {
    margin-left: 100;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 600px) {
  .home {
    width: 100vw;
    height: 100vh;
  }
  /*nav{
        height: 14.2rem;
        background: linear-gradient(180deg, white 20%, $secondColor 30%, $thirdColor 55%, $fourthColor 77%, $fifthColor 90%)
    }*/
  .title {
    margin-left: 0.18em;
    font-size: 5em;
    line-height: 52px;
  }
  .sub {
    margin-left: calc(9.5rem * 0.15);
    margin-top: 3.1rem;
  }
  .sub h3 {
    margin-bottom: 0.5em;
    font-size: 0.85em;
  }
  .sub h4 {
    font-size: 0.8em;
  }
  .second {
    width: 100vw;
    margin-top: 3em;
    margin-left: 0;
    padding: 0.95em;
    height: calc(100vh - 3em);
    overflow: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Playfair Display';
  }
  .second h1 {
    font-size: 13.3vw;
    margin-top: 0.69em;
  }
  .conqs {
    margin: 0.3em 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .item {
    width: 45vw;
    margin-bottom: calc(1em * 0.73);
    padding: 1em;
    height: 12.5em;
    font-size: 1rem;
  }
  .third {
    height: calc(100vh - 6rem);
    margin-left: 0;
    padding: 3rem 0;
    margin-top: 6em;
    letter-spacing: 0.3em;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .third h1 {
    font-size: 9.45vw;
    font-weight: bold;
    letter-spacing: 0.28em;
  }
  .third h2 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
  }
  .third ul {
    margin: 0.25em 1em;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 1em;
  }
  .third .habs {
    margin-top: -0.3em;
  }
  .third .caixa {
    margin: 0.5em 0.75em;
  }
  .third .tudo {
    margin-left: 0;
  }
  .third .back {
    margin-left: 1.5em;
  }
  .fourth {
    width: 100vw;
    height: calc(100vh - 9rem);
    margin-left: 0;
    margin-top: 9em;
    letter-spacing: 0.2em;
    padding: 1.9em 1em 3em 1em;
  }
  .fourth h1 {
    font-size: 40px;
  }
  .fourth h3 {
    font-size: 16px;
    letter-spacing: 0.15em;
  }
  .fifth {
    width: 100vw;
    height: calc(100vh - 12rem);
    margin-left: 0;
    margin-top: 12rem;
    font-size: 0.75em;
    font-weight: normal;
  }
  .navCor h2 {
    margin-left: 0.7em;
    font-size: 1.3em;
    font-weight: 200;
  }
  .navCor h2:hover {
    font-size: 1.3em;
  }
  .mm {
    margin-top: 3.1rem;
  }
  .mmm {
    margin-top: 6.1rem;
  }
  .mmmm {
    margin-top: 9.1rem;
  }
  .v {
    margin-top: 12.1rem;
    color: black;
  }
  .burguer {
    margin-top: 0.3rem;
  }
  @-webkit-keyframes sobe {
    from {
      margin-top: 200%;
    }
    to {
      margin-top: 100;
    }
  }
  @keyframes sobe {
    from {
      margin-top: 200%;
    }
    to {
      margin-top: 100;
    }
  }
}
/*# sourceMappingURL=main.css.map */